img {
	width: 32px;
    border-radius: 14px;

}

.profil {
	text-align:;

}

.user
{   color: white;
    text-decoration: none;
	padding: 0 0 0 10px;

}

li {
	list-style: none;
}

a {
text-decoration: none;
color: black;	
}

.img1
{
	border-radius: initial;
    border-radius: -9px;
    width: 27px;
}

.typo
{
font-family: sans-serif;

}

h4
{
	margin-left: 42px;

}

.photo

{
	margin-left: 42px

}


{
	text-decoration: none;
    color: black;
}